<div class="wrapper">
  <div class="card">
    <cb-logo [headerTitle]="title"></cb-logo>
    <div class="field-wrapper">
      <div class="mb-3 message">
        <span
          >If an account exists with address “{{ emailAddress }}“, an email will
          be sent with further instructions to reset your password.</span
        >
      </div>
      <div class="button-wrapper">
        <span><a routerLink="../{{Paths.FORGOT_PASSWORD}}">Change Email</a></span>
        <span><a routerLink="../{{Paths.LOGIN}}">Back to Login</a></span>
      </div>
    </div>
  </div>
</div>
<cb-footer></cb-footer>
