@import "variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: $base-color;
  .card {
    padding: 3rem;
    min-width: 400px;
    background: $black-24;
    border-radius: 8px;
  }
  .field-wrapper{
    padding-top: 10px;
  }
  .message{
      width: 304px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.25px;      
      color: $white-92;
  }
  .button-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 38px;
  }
  a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $white-64;
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .wrapper{
    .card {
      padding: 1rem;
      min-width: 300px;
    }
    .message{
        width: 270px;
    }
  }
}
