<div class="wrapper" #$element>
    <div class="loading" *ngIf="loading || loadingReports">
        <div class="spinner-border text-custom">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <header *ngIf="!loading">
        <span class="title">Accessibility Reporting</span>
        <!-- <div class="left">
            <div ngbDropdown class="d-inline-block dd">
                <button ngbDropdownToggle *ngIf="selectedSite">{{selectedSite.name}}
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </button>
                <div ngbDropdownMenu class="dd-menu">
                    <ng-container *ngFor="let item of sites">
                        <button (click)="changeSite(item)" ngbDropdownItem
                            [class.selected]="item == selectedSite">{{item.name}}</button>
                    </ng-container>
                </div>
            </div>
        </div> -->
    </header>
    <div class="section-wrapper">
        <section *ngIf="!loadingReports">
            <table>
                <thead>
                    <tr>
                        <th>
                            <div>
                                <span>Period</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>Accessible</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Accessed</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Opportunity</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <ng-container *ngFor="let column of columns;let last = last;">
                                <th>
                                    <div>
                                        <span>{{column.name}}</span>
                                        <span>{{column.from + ' - ' + column.to}}</span>
                                    </div>
                                    <ng-container *ngIf="last">
                                        <input name="date" ngbDatepicker #sd="ngbDatepicker" class="visually-hidden"
                                            (dateSelect)="onDateSelection($event, column.datePicker)"
                                            [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"
                                            [startDate]="column.datePicker.from!" [autoClose]="'outside'"
                                            [footerTemplate]="footerTemplate" />
                                        <ng-template #t let-date let-focused="focused">
                                            <span class="custom-day" [class.focused]="focused"
                                                [class.range]="isRange(date, column.datePicker)"
                                                [class.faded]="isHovered(date, column.datePicker) || isInside(date, column.datePicker)"
                                                (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                            </span>
                                        </ng-template>
                                        <ng-template #footerTemplate>
                                            <hr class="my-0">
                                            <div>
                                                <button class="btn btn-custom btn-sm m-2 float-right"
                                                    (click)="sd.close();applyDateSelection(column)">Apply</button>
                                            </div>
                                        </ng-template>
                                        <fa-icon [icon]="faCalender" (click)="sd.toggle()"></fa-icon>
                                    </ng-container>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <ng-container *ngFor="let column of columns;">
                                <ng-container
                                    *ngTemplateOutlet="hourData;context:{ item: column.accessible, loading: column.loading, type:'accessible'}">
                                </ng-container>
                            </ng-container>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let column of columns;">
                                <ng-container
                                    *ngTemplateOutlet="hourData;context:{ item: column.accessed, loading: column.loading, type:'accessed'}">
                                </ng-container>
                            </ng-container>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let column of columns;">
                                <ng-container
                                    *ngTemplateOutlet="hourData;context:{ item: column.opportunity, loading: column.loading, type:'opportunity'}">
                                </ng-container>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="graph-section">
            <ng-container *ngIf="loadingGraphs">
                <ng-container *ngTemplateOutlet="loader;"></ng-container>
            </ng-container>
            <cb-site-a-vs-b [siteData]="selectedSite" [yearlyData]="graphData" *ngIf="!loadingGraphs"></cb-site-a-vs-b>
        </section>
        <section class="graph-section">
            <ng-container *ngIf="loadingGraphs">
                <ng-container *ngTemplateOutlet="loader;"></ng-container>
            </ng-container>
            <cb-site-accessible [for]="accessible" [yearlyData]="graphData" [from]="selectedSite.commissioningDate"
                *ngIf="!loadingGraphs">
            </cb-site-accessible>
        </section>
        <section class="graph-section">
            <ng-container *ngIf="loadingGraphs">
                <ng-container *ngTemplateOutlet="loader;"></ng-container>
            </ng-container>
            <cb-site-accessible [for]="accessed" [yearlyData]="graphData" [from]="selectedSite.commissioningDate"
                *ngIf="!loadingGraphs">
            </cb-site-accessible>
        </section>
        <section class="graph-section">
            <ng-container *ngIf="loadingGraphs">
                <ng-container *ngTemplateOutlet="loader;"></ng-container>
            </ng-container>
            <cb-site-accessible [for]="opportunity" [yearlyData]="graphData" [from]="selectedSite.commissioningDate"
                *ngIf="!loadingGraphs">
            </cb-site-accessible>
        </section>
    </div>
</div>

<ng-template #hourData let-item="item" let-loading="loading" let-type="type">
    <td>
        <div>
            <ng-container *ngIf="!loading">
                <div>{{item.hours + 'h'}}</div>
                <div>
                    <fa-icon [classes]="type === 'opportunity'?!item.isLess ? ['red'] : ['green']:item.isLess ? ['red'] : ['green']" [icon]="faChevronDown" *ngIf="item.isLess">
                    </fa-icon>
                    <fa-icon [classes]="type === 'opportunity'?!item.isLess ? ['red'] : ['green']:item.isLess ? ['red'] : ['green']" [icon]="faChevronUp" *ngIf="!item.isLess">
                    </fa-icon>
                    <span [class]="{ green: type === 'opportunity'?item.isLess:!item.isLess, red: type === 'opportunity'?!item.isLess:item.isLess }">{{item.diffHours + 'h ' + (item.isLess ?
                        'less ' : 'more
                        ')}}</span>
                    <span>than last year.</span>
                </div>
            </ng-container>
            <ng-container *ngIf="loading">
                <div class="spinner-border text-custom">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </ng-container>
        </div>
    </td>
</ng-template>
<ng-template #loader>
    <div class="loading">
        <div class="spinner-border text-custom">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>