$base-color: #585858;
$black-28: #474747;
$black-26: #424242;
$black-24: #3d3d3d;
$black-22: #383838;
$black-20: #333333;
$black-18: #2e2e2e;
$black-16: #292929;
$black-12: #1f1f1f;
$black-8: #141414;
$white-92: #ebebeb;
$white-88: #e0e0e0;
$white-64: #a3a3a3;
$white-54: #8a8a8a;
$white-87: #DEDEDE;
$red-600: #f73f3e;
$red-400: #ff5a59;
$green: #47b250;
$yellow: #ffaa33;
$red: red;
$inner-shadow: #434343;
$green-opacity: rgba(71, 178, 80, 0.38);
$transparent-black: rgba(0, 0, 0, 0.54);
