@import "variables";
@import "decision-header";

:host {
  display: block;
  height: 100%;
  position: relative;
  background-color: $black-24;
  color: $white-88;
}
.wrapper {
  height: 100%;
  width: 100%;
}

.section-wrapper {
  border-top: 72px solid transparent;
  height: 100%;
  overflow: auto;
  background-color: $base-color;
  section {
    min-height: 400px;
    margin-bottom: 8px;
    .loading {
      background-color: $black-24;
    }
    &:first-child {
      margin-bottom: 0;
    }
    > table {
      float: left;
      th {
        &:first-child {
          width: 192px;
          min-width: 192px;
          background-color: $black-18;
        }
      }
      td {
        &:first-child {
          > div {
            padding: 16px 24px;
            width: 192px;
            min-width: 192px;
            background-color: $black-22;
            display: inline-block;
          }
        }
      }
    }
    .table-responsive table {
      width: 100%;
    }
    table {
      th {
        height: 56px;
        width: 180px;
        min-width: 180px;
        margin-right: 8px;
        background-color: $black-20;
        color: $white-88;
        padding-left: 24px;
        font-size: 14px;
        font-weight: normal;
        position: relative;
        div {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          align-content: center;
          margin-right: 8px;
          span {
            font-size: 14px;
            font-weight: normal;
            color: $white-88;
            &:last-child {
              font-size: 12px;
              color: $white-64;
            }
            &:first-child {
              font-size: 14px;
              color: $white-88;
            }
          }
        }
        fa-icon {
          position: absolute;
          top: 18px;
          right: 24px;
          font-size: 16px;
          cursor: pointer;
        }
      }
      td {
        padding: 0;
        > div {
          width: 180px;
          min-width: 180px;
          height: 112px;
          width: 100%;
          margin-bottom: 8px;
          background-color: $black-24;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding-left: 24px;
          > div {
            font-size: 12px;
            &:first-child {
              color: $white-92;
              font-size: 48px;
            }
          }
          fa-icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
  .graph-section {
    height: 572px;
    background-color: $black-24;
  }
}
::ng-deep.box {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-right: 8px;
  &.accessed {
    background-color: #3d8ed9;
  }
  &.accessible {
    background-color: #7dc1ff;
  }
}
::ng-deep.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  &.focused {
    background-color: #e6e6e6;
  }
  &.range,
  &:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  &.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
}

.visually-hidden {
  right: 5px;
}
.spinner-border {
  font-size: 14px !important;
}
.table-responsive {
  width: auto;
}

@media screen and (max-width: 768px) {
  .section-wrapper {
    border-top: 0;
    height: unset;
  }
}