@import "variables";
.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $base-color;
    .table-container {
      .mat-icon-button ::ng-deep .mat-button-focus-overlay {
        display: none;
      }
    }
  }
  
.wrapper-header {
    background-color: $black-24;
    display: flex;
    flex-direction: row;
    color: $white-64;
    max-width: 100%;
    .row {
      width: 100%;
      & > * {
        flex: 0 0 auto;
      }
    }
    .header-title {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      padding-left: 24px;
      padding-right: 12px;
      display: flex;
      align-items: center;
      color: $white-92;
      padding-top: 15px;
      padding-bottom: 15px;
    }
}

table {
    width: 100%;
    .mat-header-row {
      background-color: $black-20;
    }
    .mat-row {
      background-color: $black-24;
    }
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      border-bottom-style: none;
    }
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
      border-color: $white-88;
    }
    ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
      background-color: $white-92 !important;
    }
  
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: $white-92 !important;
    }
  
    th.mat-header-cell {
      ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
        background-color: $white-64 !important;
      }
  
      ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: $white-64 !important;
      }
  
      ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
      .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: $white-64 !important;
      }
    }
  
    ::ng-deep .mat-checkbox-mixedmark {
      background-color: $black-24;
    }
    ::ng-deep mat-checkbox .mat-checkbox-checkmark-path {
      stroke: $black-24 !important;
    }
    .mat-column-updateinfo,
    .mat-column-resendinvite {
      text-align: center;
    }
    .mat-header-cell,
    .mat-cell {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: $white-88;
    }
    .mat-cell.action__btn--color64 {
      color: $white-64;
      .mat-icon {
        font-size: 15px;
      }
    }
  }