@import "variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: $base-color;
  .card {
    // margin-top: 289px;;
    padding: 3rem;
    min-width: 400px;
    background: $black-24;
    border-radius: 8px;
  }
  .field-wrapper{
    padding-top: 10px;
  }
  label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $white-64;
  }
  .second-label{
    padding-top: 32px;
  }
  .form-label{
    margin-bottom: 0;
  }
  input[type="text"],
  .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid $white-92;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $white-92;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: $white-92 !important;
      caret-color: $white-92;
  }
  .submitted.ng-invalid{
    border-bottom: 1px solid $red;
  }

  input[type="text"]:focus,
  .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .button-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 15px;
  }
  a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $white-64;
    text-decoration: none;
  }
  .btn-custom{
    color: $white-64;
    background-color: $black-12;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    padding: 10px 16px 10px 16px;
    border-color: $black-12;
  }
  .link-wrapper{
    padding-top: 20px;
    // flex-grow: 1;
    a{
      padding: 0 7px 0 7px;
    }
  }
}

@media screen and (max-width: 450px) {
  .wrapper{
    .card {
      padding: 1rem;
      min-width: 300px;
    }
  }
}
