<div class="wrapper">
    <div class="card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <cb-logo [headerTitle]=title [headerDescription]=description></cb-logo>
            <div class="field-wrapper">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label second-label">New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="newPassword" [ngClass]="{'submitted': formSubmitted}">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label second-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" formControlName="confirmPassword" [ngClass]="{'submitted': formSubmitted}">
                </div>
                <div class="button-wrapper">
                    <button type="submit" class="btn btn-custom">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<cb-footer></cb-footer>