@import "variables";
@import "decision-header";
@import "decision-table";

:host {
  display: block;
  height: 100%;
  position: relative;
  background-color: $black-24;
  color: $white-88;
}
.wrapper {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 780px) { 
  .section__header{
    height: 108px;
  }
  .page__header {
    position: absolute !important;
  } 
  .graph-wrapper {
    border-top: 0 solid transparent;
  }
}
@media screen and (max-width: 608px) {
  .section__header{
    height: 132px;
  }
}

section {
  border-top: 56px solid transparent;
  height: 100%;
  overflow: hidden;
  background-color: #585858;
}
.graph-wrapper .loading {
  background-color: $black-24;
}

::ng-deep .deactivate-modal {
  .modal-lg,
  .modal-xl {
    max-width: 545px;
  }
}
.icon-cross {
  color: $white-64;
  font-size: 17px;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: $white-92;
}
.modal-header {
  border-bottom: 1px solid $black-28;
  padding: 24px;
}
.role-modal-header {
  border-bottom: 1px solid $black-28;
}
.modal-body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: $white-88;
  padding: 24px;
}
.modal-footer {
  border-top: 1px solid $black-28;
  padding: 16px;
}
.modal-footer > * {
  margin: 0;
}
.modal-btn-cancel,
.modal-btn-save {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15px;
  color: $white-88;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
}
.modal-btn-cancel:hover {
  background-color: $black-22;
}
.modal-btn-save {
  background: $black-22;
}
.modal-btn-deactivate {
  background: $red-400;
  color: $white-92;
}
