<div class="wrapper">
    <div class="card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <cb-logo [headerTitle]=title></cb-logo>
            <div class="field-wrapper">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="username"
                        [ngClass]="{'submitted': formSubmitted}"
                        #emailAddress>
                </div>
                <div class="button-wrapper">
                    <span><a routerLink="../{{ Paths.LOGIN }}">Back to Login</a></span>
                    <button type="submit" class="btn btn-custom">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<cb-footer></cb-footer>