<div class="content-wrapper">
  <div class="wrapper-header container">
    <div class="row">
      <div class="header-title col-sm-auto">User Management</div>
      <div class="header-description col-sm-auto">
        <mat-icon class="search-icon" aria-label="Search">search</mat-icon>
        <input type="text" class="search-input" (keyup)="applyFilter($event)" placeholder="Search User" #input>
      </div>
      <div class="header-button-wrapper">
        <div *ngIf="selection.hasValue();" class="header-option header-user-selected hide-button col-sm-auto" [ngClass]="{'show_header_button': selection.hasValue() }">{{ selection.selected.length }}/{{ totalRow }} Users Selected</div>
        <div *ngIf="selection.hasValue();" class="header-option header-button hide-button col-sm-auto" [ngClass]="{'show_header_button': selection.hasValue() }" (click)="openModal('deactivate')">Deactivate All</div>
        <div *ngIf="selection.hasValue();" class="header-option header-button hide-button col-sm-auto" [ngClass]="{'show_header_button': selection.hasValue() }" (click)="openModal('update_role')">Update Role</div>
        <div *ngIf="selection.hasValue();" class="header-option header-button hide-button col-sm-auto" [ngClass]="{'show_header_button': selection.hasValue() }" (click)="resendInvitation()">Resend Invitation</div>  
        <div class="header-option header-button col-sm-auto align-right" (click)="openInviteUserModal()">
          <mat-icon class="plus-icon" aria-label="Plus">add_circle</mat-icon>
          Invite Users
        </div>
      </div>
    </div>
  </div>

  <div class="table-container table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
    
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> <span class="status {{element.status | lowercase}}"></span> {{element.status}} </td>
      </ng-container>
    
      <!-- Update Info Column -->
      <ng-container matColumnDef="updateinfo">
        <th mat-header-cell *matHeaderCellDef> Update Info </th>
        
        <td mat-cell class="action__btn--color64" *matCellDef="let element">
          <button mat-icon-button (click)="openUpdateInfoModal(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!--Edit sites-->
      <ng-container matColumnDef="editsites">
        <th mat-header-cell class="mtable__header" *matHeaderCellDef> Edit Sites </th>
        
        <td mat-cell class="action__btn--color64 mtable__row" *matCellDef="let element">
          <button mat-icon-button (click)="openEditSiteModal(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <!-- Resend Invitation Column -->
      <ng-container matColumnDef="resendinvite">
        <th mat-header-cell *matHeaderCellDef> Resend Invitation </th>
        
        <td mat-cell class="action__btn--color64" *matCellDef="let element">
          <button mat-icon-button (click)="resendInvitation(element.id)" [ngClass]="{'hide_invitation': (element.status | lowercase) !== 'pending'}">
            <mat-icon aria-label="Email">email</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>

  <!-- deactivate and update user role -->
  <ng-template #content let-modal>
    <cb-deactivate-user></cb-deactivate-user>
  </ng-template>

  <!-- update user info -->
  <ng-template>
    <cb-update-info></cb-update-info>
  </ng-template>

  <!-- edit sites  -->
  <ng-template>
    <cb-edit-sites></cb-edit-sites>
  </ng-template>

  <!-- Invite user -->
  <ng-template>
    <cb-invite-user></cb-invite-user>
  </ng-template>
</div>