@import "variables";

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $base-color;
  .table-container {
    .mat-icon-button ::ng-deep .mat-button-focus-overlay {
      display: none;
    }
  }
}

.wrapper-header {
  background-color: $black-24;
  display: flex;
  flex-direction: row;
  color: $white-64;
  max-width: 100%;
  .row {
    width: 100%;
    & > * {
      flex: 0 0 auto;
    }
  }
  .header-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding-left: 24px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    color: $white-92;
  }
  .header-description {
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .row {
    .header-button-wrapper {
      display: flex;
      justify-content: flex-end;
      flex: 1 0 auto;
      width: auto;
    }
  }
  .search-icon {
    position: absolute;
    padding-top: 10px;
    padding-left: 18px;
    font-size: 20px;
  }
  .search-input {
    align-items: center;
    padding: 8px;
    padding-left: 44px;
    width: 300px;
    background-color: $black-22;
    border-radius: 4px;
    border: none;
    color: $white-64;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.15px;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $white-92 !important;
    caret-color: $white-92;
  }
  input[type="text"]:focus-visible {
    outline: none;
  }
  .header-option {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: $white-64;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-user-selected {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header-button {
    padding-left: 16px;
    padding-right: 16px;
    color: $white-88;
    cursor: pointer;
    min-height: 40px;
    &:hover {
      background-color: $black-22;
    }
  }
  .hide-button {
    visibility: hidden;
  }
  .show_header_button {
    visibility: visible;
  }
  .align-right {
    margin-left: auto;
  }
  .plus-icon {
    font-size: 20px;
    line-height: 27px;
  }
}

table {
  width: 100%;
  .mat-header-row {
    background-color: $black-20;
  }
  .mat-row {
    background-color: $black-24;
  }
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom-style: none;
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: $white-88;
  }
  ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: $white-92 !important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $white-92 !important;
  }

  th.mat-header-cell {
    ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
      background-color: $white-64 !important;
    }

    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: $white-64 !important;
    }

    ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: $white-64 !important;
    }
  }

  ::ng-deep .mat-checkbox-mixedmark {
    background-color: $black-24;
  }
  ::ng-deep mat-checkbox .mat-checkbox-checkmark-path {
    stroke: $black-24 !important;
  }
  .mat-column-updateinfo,
  .mat-column-resendinvite {
    text-align: center;
  }
  .mat-header-cell,
  .mat-cell {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $white-88;
  }
  .mat-cell.action__btn--color64 {
    color: $white-64;
    .mat-icon {
      font-size: 15px;
    }
  }
  .status {
    width: 8px;
    height: 8px;
    left: 0px;
    top: 6px;
    display: inline-flex;
    border-radius: 8px;
    margin-right: 4px;
  }
  .active {
    background: $green;
  }
  .pending {
    background: $yellow;
  }
  .deactivated {
    background: $black-28;
  }
  .hide_invitation {
    display: none;
  }
}
.mtable{
  &__header{
    text-align: center;
  }
  &__row{
    text-align: center;
  }
}
@media screen and (max-width: 1350px) {
  .wrapper-header {
    .align-right {
      margin-left: 0;
    }
  }
  .sticky-top {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .header-option {
    justify-content: flex-start !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header-user-selected {
    padding-left: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-header .row .header-button-wrapper {
    flex: 0 0 auto;
    flex-direction: column;
  }
}